-content_for(:title, 'Coworker - Contribuyentes')
#content
  .inner
    .topcolumn
      .logo
      %ul#shortcut
        %li
          %a{:href => "#", :title => "Back To home"}
            %img{:alt => "home", :src => "../assets/icon/shortcut/home.png"}/
            %strong Home
        %li
          %a{:href => "#", :title => "Website Graph"}
            %img{:alt => "graph", :src => "../assets/icon/shortcut/graph.png"}/
            %strong Graph
        %li
          %a{:href => "#", :title => "Setting"}
            %img{:alt => "setting", :src => "../assets/icon/shortcut/setting.png"}/
            %strong Setting
        %li
          %a{:href => "#", :title => "Messages"}
            %img{:alt => "messages", :src => "../assets/icon/shortcut/mail.png"}/
            %strong Message
          .notification 10
    .clear
    -if flash[:mensaje]
      .flashMessage.error
        =flash[:mensaje]
    -if flash[:mensajeSuccess]
      .flashMessage.success
        =flash[:mensajeSuccess]
    .onecolumn
      .header
        %span
          %span.ico.gray.arrow_bidirectional>
          Contribuyentes
      / End header
      .clear
      .content
        .load_page
          %form
            .tableName.inTab
              %h3 Contribuyentes Activos
              %table#data_table3.display.data_table3
                %thead
                  %tr
                    %th{:width => "35"}Código
                    %th{:align => "left", :width => "352"} Nombre
                    %th{:width => "174"} RIF
                    %th{:width => "226"} Municipio
                    %th{:width => "100"} 
                %tbody
                  -@contribuyentes.each do |contribuyente|
                    %tr
                      %td{:width => "35"} 
                        =contribuyente.codigo
                      %td{:align => "left"} 
                        =contribuyente.nombre
                      %td 
                        =contribuyente.rif
                      %td 
                        =contribuyente.municipio
                      %td
                        %span.tip
                          %a{:title => "Editar"}
                            %img{:src => "../assets/icon/icon_edit.png"}
                        %span.tip
                          %a#1.Delete{:name => "Band ring", :title => "Eliminar"}
                            %img{:src => "../assets/icon/icon_delete.png"}
                  
        / /END TAB/
        .clear/
  .clear
  #footer
    \© Copyright 2012
    %span.tip
      %a{:href => "#", :title => "Zice Admin"} Your Company Name
/ // End inner
/ // End content