#content
  .inner
    .topcolumn
      .logo
      %ul#shortcut
        %li
          %a{:href => "#", :title => "Back To home"}
            %img{:alt => "home", :src => "images/icon/shortcut/home.png"}/
            %strong Home
        %li
          %a{:href => "#", :title => "Website Graph"}
            %img{:alt => "graph", :src => "images/icon/shortcut/graph.png"}/
            %strong Graph
        %li
          %a{:href => "#", :title => "Setting"}
            %img{:alt => "setting", :src => "images/icon/shortcut/setting.png"}/
            %strong Setting
        %li
          %a{:href => "#", :title => "Messages"}
            %img{:alt => "messages", :src => "images/icon/shortcut/mail.png"}/
            %strong Message
          .notification 10
    .clear
    .onecolumn
      .header
        %span
          %span.ico.gray.paragraph_align_left>
          Typography
        #buttom_top
          %ul.uibutton-group
            %li
              %a.uibutton.special.pop_box{:href => "modal1"} Modal View
              <a class="uibutton special pop_box"  href="modal1">Modal View2</a>
      / End header
      %br.clear/
      .content
        %h1 Tag Heading 1
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non leo convallis nibh tristique commodo. Cras tincidunt hendrerit pharetra. Etiam erat magna, egestas sed placerat at, congue sed nisi. Nullam eget varius leo. Integer at justo a velit imperdiet pulvinar. Sed magna mi, sodales sit amet aliquet ac, eleifend eget sem. Nam ipsum lectus, fringilla sed rutrum ac, tempus in orci. Pellentesque condimentum dui a elit rutrum at posuere tellus dignissim. Aliquam erat volutpat. Suspendisse potenti. Sed convallis convallis tellus, id volutpat leo euismod in. Curabitur dapibus commodo vehicula. Nullam varius, lacus at porta pellentesque, dolor massa rutrum lorem, vehicula dapibus dui erat nec mi. Donec condimentum lectus ut ligula condimentum et luctus orci pharetra. Fusce semper tempor dui, vitae sollicitudin mauris volutpat in. Aliquam erat volutpat.
        %h2 Tag Heading 2
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non leo convallis nibh tristique commodo. Cras tincidunt hendrerit pharetra. Etiam erat magna, egestas sed placerat at, congue sed nisi. Nullam eget varius leo. Integer at justo a velit imperdiet pulvinar. Sed magna mi, sodales sit amet aliquet ac, eleifend eget sem. Nam ipsum lectus, fringilla sed rutrum ac, tempus in orci. Pellentesque condimentum dui a elit rutrum at posuere tellus dignissim. Aliquam erat volutpat. Suspendisse potenti. Sed convallis convallis tellus, id volutpat leo euismod in. Curabitur dapibus commodo vehicula. Nullam varius, lacus at porta pellentesque, dolor massa rutrum lorem, vehicula dapibus dui erat nec mi. Donec condimentum lectus ut ligula condimentum et luctus orci pharetra. Fusce semper tempor dui, vitae sollicitudin mauris volutpat in. Aliquam erat volutpat.
        %h3 Tag Heading 3
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non leo convallis nibh tristique commodo. Cras tincidunt hendrerit pharetra. Etiam erat magna, egestas sed placerat at, congue sed nisi. Nullam eget varius leo. Integer at justo a velit imperdiet pulvinar. Sed magna mi, sodales sit amet aliquet ac, eleifend eget sem. Nam ipsum lectus, fringilla sed rutrum ac, tempus in orci. Pellentesque condimentum dui a elit rutrum at posuere tellus dignissim. Aliquam erat volutpat. Suspendisse potenti. Sed convallis convallis tellus, id volutpat leo euismod in. Curabitur dapibus commodo vehicula. Nullam varius, lacus at porta pellentesque, dolor massa rutrum lorem, vehicula dapibus dui erat nec mi. Donec condimentum lectus ut ligula condimentum et luctus orci pharetra. Fusce semper tempor dui, vitae sollicitudin mauris volutpat in. Aliquam erat volutpat.
        %h4 Tag Heading 4
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non leo convallis nibh tristique commodo. Cras tincidunt hendrerit pharetra. Etiam erat magna, egestas sed placerat at, congue sed nisi. Nullam eget varius leo. Integer at justo a velit imperdiet pulvinar. Sed magna mi, sodales sit amet aliquet ac, eleifend eget sem. Nam ipsum lectus, fringilla sed rutrum ac, tempus in orci. Pellentesque condimentum dui a elit rutrum at posuere tellus dignissim. Aliquam erat volutpat. Suspendisse potenti. Sed convallis convallis tellus, id volutpat leo euismod in. Curabitur dapibus commodo vehicula. Nullam varius, lacus at porta pellentesque, dolor massa rutrum lorem, vehicula dapibus dui erat nec mi. Donec condimentum lectus ut ligula condimentum et luctus orci pharetra. Fusce semper tempor dui, vitae sollicitudin mauris volutpat in. Aliquam erat volutpat.
        %h5 Tag Heading 5
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non leo convallis nibh tristique commodo. Cras tincidunt hendrerit pharetra. Etiam erat magna, egestas sed placerat at, congue sed nisi. Nullam eget varius leo. Integer at justo a velit imperdiet pulvinar. Sed magna mi, sodales sit amet aliquet ac, eleifend eget sem. Nam ipsum lectus, fringilla sed rutrum ac, tempus in orci. Pellentesque condimentum dui a elit rutrum at posuere tellus dignissim. Aliquam erat volutpat. Suspendisse potenti. Sed convallis convallis tellus, id volutpat leo euismod in. Curabitur dapibus commodo vehicula. Nullam varius, lacus at porta pellentesque, dolor massa rutrum lorem, vehicula dapibus dui erat nec mi. Donec condimentum lectus ut ligula condimentum et luctus orci pharetra. Fusce semper tempor dui, vitae sollicitudin mauris volutpat in. Aliquam erat volutpat.
        %h6 Tag Heading 6
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non leo convallis nibh tristique commodo. Cras tincidunt hendrerit pharetra. Etiam erat magna, egestas sed placerat at, congue sed nisi. Nullam eget varius leo. Integer at justo a velit imperdiet pulvinar. Sed magna mi, sodales sit amet aliquet ac, eleifend eget sem. Nam ipsum lectus, fringilla sed rutrum ac, tempus in orci. Pellentesque condimentum dui a elit rutrum at posuere tellus dignissim. Aliquam erat volutpat. Suspendisse potenti. Sed convallis convallis tellus, id volutpat leo euismod in. Curabitur dapibus commodo vehicula. Nullam varius, lacus at porta pellentesque, dolor massa rutrum lorem, vehicula dapibus dui erat nec mi. Donec condimentum lectus ut ligula condimentum et luctus orci pharetra. Fusce semper tempor dui, vitae sollicitudin mauris volutpat in. Aliquam erat volutpat.
        .clear
        %h3 list stlye
        .grid2
          %ul.list_arrow
            %li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            %li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            %li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            %li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            %li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            %li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .grid2
          %ul.list_arrow2
            %li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            %li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            %li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            %li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            %li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            %li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        %h3 overflow stlye
        .core4.overflow{:style => "height:300px"}
          %pre.showCodeJS
            :preserve
              
              $.fn.imgdata = function(key){
              	return this.find('.dataImg li:eq('+key+')').text();
              }
              $.fn.hdata = function(key){
              	return this.find('.dataSet li:eq('+key+')').text();
              }
              var buttonActions = {
              	'hide_menu':function(){
              		$('#hide_menu').hide();			   
              		$('#left_menu').animate({ left: "-213px" }, 200 );
              		$('#show_menu').show();
              		$('#content').animate({ marginLeft: "40px" }, 200 );
              		$('#wysiwyg').css('width', '97%');
              	},	
              	  'show_menu':function(){			   
              		  $(this).hide();			
              		  $('#hide_menu').show();
              		  $('#left_menu').animate({ left: "0px" }, 200 );
              		  $('#content').animate({ marginLeft: "240px" }, 200 );
              		  $('#wysiwyg').css('width', '233px');
              	},
              	  'close_windows':function(){
              		  $.fancybox.close(); 
              		  ResetForm();
              	}
              	
              }        .clear
      / // content
    .clear
    #footer
      \© Copyright 2012
      %span.tip
        %a{:href => "#", :title => "Zice Admin"} Your Company Name
  / // End inner
/ // End content