#alertMessage.error
#successLogin
.text_success
  =image_tag("loadder/loader_green.gif")
  %span Please wait
#login
  .ribbon
  .inner
    .logo
      =image_tag("logo/logo_login.png")
    .userbox
    .formLogin
      %form#formLogin{:action => "#", :name => "formLogin"}
        .tip
          %input#username_id{:name => "username", :title => "Username", :type => "text"}/
        .tip
          %input#password{:name => "password", :title => "Password", :type => "password"}/
          %div{:style => "float:right;padding:2px 0px ;"}
            %div
              %ul.uibutton-group
                %li
                  %a#but_login.uibutton.normal{:href => "#"} Login
                %li
                  %a#forgetpass.uibutton.normal{:href => "#"} forpassword
  .clear
  .shadow