#login
  .ribbon
  .inner
    .logo
      =image_tag("logo/logo_login.png")
    .userbox
    .formLogin
      = form_tag(:action => "procesar_olvide_mi_clave")do
        .tip
          =text_field :usuario, :cedula, :id => "cedula_id", :title => "Cedula"
          =recaptcha_tags
        .pad1
          .pad2
            %div
              .uibutton-group
                =link_to "Volver", {:action => "index", :controller => "inicio"}, :class => "uibutton normal"
                %button#but_login.uibutton.normal{:type => "submit"} Entrar
  .clear
  .shadow