-content_for(:title, 'Coworker - Modificar Contribuyentes')
#content
  .inner
    .topcolumn
      .logo
      %ul#shortcut
        %li
          %a{:href => "bienvenida", :title => "Principal"}
            %img{:alt => "Principal", :src => "../assets/icon/shortcut/home.png"}/
            %strong Principal
        %li
          %a{:href => "#", :title => "Mis Contribuyentes"}
            %img{:alt => "graph", :src => "../assets/icon/shortcut/graph.png"}/
            %strong Graph
        %li
          %a{:href => "#", :title => "Pendiente"}
            %img{:alt => "setting", :src => "../assets/icon/shortcut/setting.png"}/
            %strong Setting
        %li
          %a{:href => "#", :title => "Mensajes"}
            %img{:alt => "messages", :src => "../assets/icon/shortcut/mail.png"}/
            %strong Message
          .notification 10
    .clear
    -if flash[:mensaje]
      .flashMessage.error
        =flash[:mensaje]
    -if flash[:mensajeSuccess]
      .flashMessage.success
        =flash[:mensajeSuccess]
    .onecolumn
      .header
        %span
          %span.ico.gray.connect>
          Contribuyentes
      / End header
      .clear
      .content
        #uploadTab
          .tab_container
            #tab1.tab_content
              .load_page
                .formEl_b
                  %form#validation{:action => "#"}
                    %fieldset
                      %legend
                        Modificar Contribuyentes
                      .section
                        %label
                          Nombre de la Empresa:
                          %small Ingrese el nombre de la empresa
                        %div
                          =collection_select :entrega_seccion, :materia_id, @empresas, :id, :nombre, {:prompt => "Seleccione una empresa"}, {:class => "chzn-select"}
                          %span{ :id => 'ajax-loader', :style => "display: none"}
                      .section.last
                        %div
                          %a.uibutton.submit_form.nombre_modificar Buscar Empresa

            / tab1
        / /END TAB/
        .clear/
  .clear
  #footer
    \© Copyright 2012
    %span.tip
      %a{:href => "#", :title => "Zice Admin"} Your Company Name
/ // End inner
/ // End content